//@using FrontToEnd.Models//
@using FrontToEnd.ViewModels;
@model HomeVM
@*<p>Header</p>*@
@{
    ViewData["Title"] = "Index";
    @*Layout = "_Layout";*@
}
<h1>Index</h1>
@*<ul>
        <li>@ViewBag.Name</li>
        <li>@ViewData["Surname"]</li>
        <li>@TempData["Age"]</li>
    </ul>*@

<hr />

@*<ul>
        @foreach (var item in ViewBag.Students)
        {
            <li>@item.Id @item.Name @item.Surname</li>
        }
    </ul>*@
@*<p>footer</p>*@

<ul>
    @foreach (var item in Model.Students)
    {
        <li>@item.Name</li>
    }
</ul>
<ul>
    @foreach (var item in Model.Groups)
    {
        <li>@item.Name</li>
    }
</ul>